@model Sneaker.Models.DONDATHANG

@{ ViewBag.Title = "Delete";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<h3 style="text-align:center;color:red">XÓA ĐƠN HÀNG</h3>
<div class="container">

    <div class="row">

        <div class="col-md-3">

            <div class="list-group">

            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <table class="table">
                        <dl class="dl-horizontal">
                            <dt>
                                HỌ TÊN
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.KHACHHANG.HOTEN)
                            </dd>

                            <dt>
                                TÌNH TRẠNG GIAO
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TINHTRANGGIAOHANG)
                            </dd>

                            <dt>
                                NGÀY ĐẶT
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NGAYDAT)
                            </dd>

                            <dt>
                                NGÀY GIAO
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NGAYGIAO)
                            </dd>

                            <dt>
                                MÃ KH
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MAKH)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color" style="margin-bottom:100px">
                                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                                        @Html.ActionLink("Quay lại", "Index")
                                    </div>
}
                    </table>
                </div>

            </div>
        </div>

    </div>

</div>

